<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100vw; height: 100vh; align-content: center; align-self: center;">