<%- include('partials/header') %>

    <%- include('partials/navbar') %>

    <div>

        <form style="width: 130%; height: 130%;" action="/api/register/user" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="full names" class="form-label mt-4">Full Names</label>
                <input type="text" name="full_names" class="form-control" placeholder="Full Names..">
            </div>
            <div class="form-group">
                <label for="username" class="form-label mt-4">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="email address" class="form-label mt-4">Email address</label>
                <input type="email" name="email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="profile picture" class="form-label mt-4">User Profile Picture</label>
                <input type="file" name="image" class="form-control">
            </div>
                <div class="form-group">
                <label for="password" class="form-label mt-4">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button class="btn btn-primary mt-3">Submit</button>
        </form>

    </div>


<%- include('partials/footer') %>